.login-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* text-align: center; */
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

lightning-input {
    margin: 10px 0;
}

lightning-button {
    margin-top: 40px;
  }
.loginButton{
    display: flex;
    justify-content: center;
}
h1{
    text-align: center;
}