.main {
    /* background-color: #ffffff; */
    /* background-color:rgb(203, 230, 131); */
    background-color: rgb(3, 69, 83);
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* .main:hover {
    background-color: rgb(203, 230, 131);
    transform: scale(1.02);
} */