.main {
    background-color: #f4f6f9;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;

}
.innerheader{
    display: flex;
    justify-content: space-between;
}
.event{
    margin-right: 2rem;
    margin-left: 2rem;

}
.utilities{
    margin-right: 2rem;
}
.maintainanceRequest{
    margin-right: 2rem;
    /* margin-left: 2rem; */

}
.feedback{
    margin-right: 2rem;
}
.my-profile{
    margin-right: 1rem;
}
 
.menu-item {
    cursor: pointer;
    transition: font-size 0.2s ease-in-out;
}

.menu-item:hover {
    font-size: 1.1em; /* Adjust the font size as needed */
    color: #0070c7; /* Change the color on hover as needed */
}
